In [1]:
print("Hello World")

Hello World

In [2]:
name = "Waqas"
print(name)

Waqas

In [3]:
name = "Hameed"
print(name)

Hameed

In [4]:
age = 25
age = 25 + 5

In [5]:
print(age)

30

### Maths Unfimiliar operators

In [6]:
10%3

1

In [7]:
5**2

25

In [8]:
6//2

3

In [9]:
5//2

2

In [23]:
num = 10

In [24]:
num /=2

In [25]:
print(num)

5.0

In [28]:
6/2

3.0

In [29]:
calculate = ((2*2)-2)+2

In [30]:
print(calculate)

4

### concatinating text

In [32]:
fname = "Waqas"
lname = "hameed"

In [35]:
fullname = fname + " " + lname
print(fullname)

Waqas hameed

In [36]:
name = "waqas"
age = 25
city = "karachi"

In [39]:
print("my name is " + name, " my age is " + str(age), "i am living in " + city)

my name is waqas  my age is 25 i am living in karachi

In [46]:
f"my name is {name}, my age is {age}, i am living in {city}"

'my name is waqas, my age is 25, i am living in karachi'

In [45]:
f"My name is {name}, my age is {age}, my weight is {city}" # f string

'My name is waqas, my age is 25, my weight is karachi'

In [47]:
f"I am {name}, lived in {city}, and i am {age} years old"

'I am waqas, lived in karachi, and i am 25 years old'

In [54]:
"my name is {} my age is {} and i am living in {}".format(name, age , city)

'my name is waqas my age is 25 and i am living in karachi'

In [49]:
"My name is {}, my age is {}, my weight is {}".format(name, age, city)

'My name is waqas, my age is 25, my weight is karachi'

### Conditional operators

In [56]:
# "<" (less than), ">" (Greater than) , "==" (Is equal to) , ">=" (greater that and equal to) , "<=" (less that and equal to), "!=" (not equal to)

In [59]:
print("waqas" == "waqas")
print("waqas" == "hameed")
print(10<8)
print(10>8)
print(10<=8)
print(10>=8)
print(10!=8)

True
False
False
True
False
True
True

### Logical operators
# AND, OR , NOT

In [63]:
# AND

print(("Waqas" == "Waqas") and ("Waqas" != "Hameed"))
print(("Waqas" == "Waqas") and ("Waqas" == "Hameed"))
print(("Waqas" != "Waqas") and ("Waqas" == "Hameed"))

True
False
False

In [66]:
# OR

print(("Waqas" == "Waqas") or ("Waqas" != "Hameed")) #true or true
print(("Waqas" == "Waqas") or ("Waqas" == "Hameed")) #true or false
print(("Waqas" != "Waqas") or ("Waqas" == "Hameed")) #false or false
print(("Waqas" != "Waqas") or ("Waqas" != "Hameed")) #false or true

True
True
False
True

In [70]:
# NOT

print(not True)
print(not False)

False
True

### Logical Operators "IF, ELIF, ELSE"

In [72]:
name = "Qasim"

if name == "Hassan":
    print("Trainer")
else:
    print("Student")

Student

In [73]:
name = "Shan"

if name == "Qasim":
    print("Trainer")
elif name == "Shan":
    print("Staff")
else:
    print("Student")

Staff

In [76]:
name = input("enter your name ")

if name == "Qasim":
    print("Trainer")
elif name == ("Shan"):
    print("Staff")
else:
    print("Student")

enter your name  Waqas

Student

### Comparision operators

### A school has following rules for grading system:

Below 25 - F

25 to 45 - E
45 to 50 - D
50 to 60 - C
60 to 80 - B
Above 80 - A
Ask user to enter marks and print the corresponding grade.

In [9]:
marks = int(input("Enter Your Marks"))

if marks > 80 and marks <= 100:
            print("Grade A")
elif marks >= 60 and marks <80:
    print("Grade B")
elif marks >= 50 and marks <60:
    print("Grade C")
elif marks >= 45 and marks < 50:
    print("Grade D")
elif marks >= 25 and marks < 45:
    print("Grade E")
elif marks >0 and marks < 25:
    print("Grade F")
else:
    print("Invalid Input")

Enter Your Marks 0

Invalid Input

### Ask user to enter age, gender ( M or F ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.
if employee is a male and age is in between 20 to 40 then he may work in anywhere
if employee is male and age is in between 40 t0 60 then he will work in urban areas only.
And any other input of age should print "ERROR"

In [32]:
gender = input("Enter Your Gender (M & F)")

if gender == "F":
    print("You will only work in Urban areas")
elif gender == "M":
    age = int(input("Enter your Age"))
    if age >= 20 and age <=40:
        print("you can work anywhere")
    elif age >40 and age <= 60:
        print("you can only work in urbad areas")
    elif age >=0 and age <=19:
        print("You are not eligible")
    elif age >60:
        print("You should get retired")
    else:
        print("Invalid Input")

Enter Your Gender (M & F) F

You will only work in Urban areas

In [31]:
gender = input("Enter Your Gender (M or F): ").strip().upper()

if gender == "F":
    print("You will only work in Urban areas")
elif gender == "M":
    age = int(input("Enter your Age: "))
    if age >= 20 and age <= 40:
        print("You can work anywhere")
    elif age > 40 and age <= 60:
        print("You can only work in Urban areas")
    elif age >= 0 and age <= 19:
        print("You are not eligible")
    elif age > 60:
        print("You should get retired")
    else:
        print("Invalid Input")
else:
    print("Invalid Gender Input")

Enter Your Gender (M or F):  F

You will only work in Urban areas

### List

In [33]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

In [34]:
cities = ["Atlanta", "Baltimor", "Chicago","Denver", "Los Angeles",
          "Seattle"]

In [35]:
cities

['Atlanta', 'Baltimor', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [36]:
cities[3]

'Denver'

In [37]:
cities[-2]

'Los Angeles'