# Tuples

In [6]:
# Start with ()
# Immutable, can't change
# Ordered elements
# when slicing tuples or list elements i.e [1:4) (1 is inculded and 4 is exculded)

In [7]:
first_tuple = (1,2,3,4)
first_tuple

(1, 2, 3, 4)

In [8]:
multiple_type = (1, "tuple", 0.32)

In [9]:
print(type(multiple_type))

<class 'tuple'>

In [7]:
single_tuple = (1)
print(type(single_tuple))

<class 'int'>

In [8]:
single_tuple = (1,)
print(type(single_tuple))

<class 'tuple'>

In [5]:
#              -5        -4      -3        -2       -1
new_tuple = ("Qasim", "Ayan", "Faisal", "Uzair", "Hamza")

In [13]:
new_tuple[4]

'Hamza'

In [16]:
new_tuple[-1:-4:-1]

('Hamza', 'Uzair', 'Faisal')

In [14]:
new_tuple[:3]

('Qasim', 'Ayan', 'Faisal')

Functionalities

In [16]:
# tuple is more faster thant list
# in the mean of loading
# import sys is defualt command of python

import sys

lists = ["Qasim", "Ayan", "Faisal", "Uzair", "hamza"]
tuppl = ("Qasim", "Ayan", "Faisal", "Uzair", "hamza", "hamza")

print(sys.getsizeof(lists))
print(sys.getsizeof(tuppl))

104
88

tuple is more faster and efficient

In [18]:
tuppl.count("hamza")  # how much time the same element is add in tuple

2

In [26]:
tuppl.index("Faisal")

2

Nested tuple

In [20]:
nested_tupple = (1,2,3,(5,6,7,8),4,9)

In [23]:
nested_tupple[3]

(5, 6, 7, 8)

In [24]:
nested_tupple[3][0]

5

Sets

In [26]:
#unordered
#Unique values
# remover duplicates
# print in acending order
# we can't use indexing

first_set = {1,2,34,5,1}
print(first_set)

{1, 2, 34, 5}

In [28]:
first_set[1]

TypeError: 'set' object is not subscriptable

### Loops

In [33]:
# For loops

# Syntax

for variable in iterator:
    code block

In [35]:
listt = ["Qasim", "Ayan"]

for value in listt:
    print(value)

Qasim
Ayan

In [38]:
listt = ["Qasim", "Ayan", "Waqas"]

for value in listt:
    print(value)
    break

Qasim

In [40]:
print(len(listt))

3

In [33]:
abc = "Waqas"
print(len(abc))

5

In [37]:
#range fuction
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
for i in range(len(listt)):
    print(i, listt[i])

0 Qasim
1 Ayan
2 Waqas

In [43]:
import time
for i in range(len(listt)):
    print(i, listt[i], "ok")
    time.sleep(5)
    # print("sleeping")

0 Qasim ok
1 Ayan ok
2 Waqas ok

In [43]:
var = "SMITDECLASS"
for i in var:
    print(i)

S
M
I
T
D
E
C
L
A
S
S

In [44]:
# take 5 input names, store them into a list and then print  one by one

In [49]:
input_name = input("enter name")
input_name = input("enter name")
input_name = input("enter name")
input_name = input("enter name")
input_name = input("enter name")
list_name = (input_name)

enter name a

In [50]:
print(input_name)

a

In [48]:
names = []

for i in range(2):
    name = input("enter your name: ")
    names.append(name)
    print(names)

for i in names:
    print(i)

enter your name:  ik

['ik']

enter your name:  ok

['ik', 'ok']
ik
ok

In [47]:
fruits = []

for i in range(3):
    fruit = input("enter fruit name")
    fruits.append(fruit)
    #print(fruits)

for i in fruits:
    print(i)

enter fruit name mango
enter fruit name apple
enter fruit name banan

mango
apple
banan

In [53]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

# Nested Loops

In [55]:
nested_lists = [[1,2,4,5,6,89,8],[1,4,67,9,9,8,9],["Starc","Kohli","Root"]]

# elements in first list 3
for i in nested_lists:
    print(i)

[1, 2, 4, 5, 6, 89, 8]
[1, 4, 67, 9, 9, 8, 9]
['Starc', 'Kohli', 'Root']

In [57]:
nested_lists = [[1,2,4,5,6,89,8],[1,4,67,9,9,8,9],["Starc","Kohli","Root"]]

# elements in first list 3
for i in nested_lists:
    # 1st iteration [1,2,4,5,6,89,8]
    print(i)
    for j in i:
        print(j)

[1, 2, 4, 5, 6, 89, 8]
1
2
4
5
6
89
8
[1, 4, 67, 9, 9, 8, 9]
1
4
67
9
9
8
9
['Starc', 'Kohli', 'Root']
Starc
Kohli
Root

In [74]:
star = ["*","*","*","*","*"]
for i in star:
    print(i)
    for j in i:
        print(i,j)

*
* *
*
* *
*
* *
*
* *
*
* *

In [72]:
stars = ["*"]
for i in stars:
    print(i)
    for j in i:
        print(i,j)
        for k in j:
            print(i,j,k)
            for h in k:
                print(i,j,k,h)
                for m in h:
                    print(i,j,k,h,m)

*
* *
* * *
* * * *
* * * * *

In [50]:
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## Conditional Statements

In [81]:
# break
#

for i in range(5):
    print(i)
    break
    print("hello")

0

In [90]:
# break
#

for i in range(5):
    print(i)
    if i == 3:
        break
    print("hello")

0
hello
1
hello
2
hello
3

In [54]:
# Continue

for i in range(12):  # 0 to 11
    print(i)
    if i == 5:
         continue  # before continue command will excetue but not after continue
    print("Hello")

0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
6
Hello
7
Hello
8
Hello
9
Hello
10
Hello
11
Hello

In [91]:
name = "Waqas Hameed"
print(name.lower())

waqas hameed

In [92]:
name = "Waqas Hameed"
print(name.upper())

WAQAS HAMEED

In [93]:
name = "Waqas Hameed"
print(name.title())

Waqas Hameed