In [1]:
#JSON Java script object notation

In [2]:
# Syntax
{'name': 'Ayan', 'phone_no': 11111111111}

{'name': 'Ayan', 'phone_no': 11111111111}

In [3]:
names = ['Qasim','Uzair', 'Ayan' ]
with open ("names.txt","w") as file:
    file.write(names)

TypeError: write() argument must be str, not list

In [8]:
names = '["Qasim","Uzair", "Ayan"]'
with open ("names.txt","w") as file:
    file.write(names)

In [13]:
import json

with open("names1.json") as file:
    data = json.load(file)
    print(data)

['Qasim', 'Uzair', 'Ayan']

In [11]:
import json
names1 = ['Qasim','Uzair', 'Ayan' ]
with open ("names1.json","w") as file:
    json.dump(names1,file)

In [16]:
import json

def json_to_dict(j):
    return json.loads(j)

json_string = '{"name" : "Waqas", "age" : 30, "city" : "karachi"}'
value = json_to_dict(json_string)
print(value)

{'name': 'Waqas', 'age': 30, 'city': 'karachi'}

### Error Handling

In [20]:
# file not exist

with open ()"name2.json" as file:
    data = json.load(file)
    print(data)

SyntaxError: invalid syntax (3066646975.py, line 3)

In [21]:
# syntax

try:
    print(1)
    with open("names2.json") as file:
        print(2)
        data = json.load(file)
        print(data)
except:
    print("Error")
    pass

1
Error

In [22]:
# syntax

try:
    print(1)
    with open("names1.json") as file:
        print(2)
        data = json.load(file)
        print(data)
except:
    print("Error")
    pass

1
2
['Qasim', 'Uzair', 'Ayan']

In [23]:
try:
    value = int(input(("Enter a number: ")))
    result = "your number is" + value
    print(result)
except:
    print("error")

Enter a number:  33

error

### Exception class

In [25]:
try:
    value = int(input(("Enter a number: ")))
    result = "your number is" + value
    print(result)
except Exception as e:
    print(e)

Enter a number:  9

can only concatenate str (not "int") to str

In [27]:
try:
    with open("names2.json") as file:
        data = json.leas(file)
        print(data)
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'names2.json'

### types of error

### SyntaxError

In [32]:
try:
    print("SMIT")
except SyntaxError as e:
    print(e)

SMIT

In [35]:
names = ["Qasim", "uzair", "Ayan"]
try:
    print(names2)
except NameError as e:
    print("error")
    print(e)
except Exception as e:
    print(e)

error
name 'names2' is not defined

### finally

In [36]:
names = ["Qasim", "uzair", "Ayan"]
try:
    print(names2)
except NameError as e:
    print("error")
    print(e)
except Exception as e:
    print(e)
finally:
    print("Executed")

error
name 'names2' is not defined
Executed

### ZeroDivision Error

# take a input number and divided 100 from thatnumber

In [39]:
try:
    num = int(input("Enter a number: "))
    print(100/num)
except ZeroDivisionError as e:
    print(e)
finally:
    print("Finally code excecuted")

Enter a number:  0

division by zero
Finally code excecuted