In [1]:
# Logical operators AND,OR, NOT
("Qasim" = "

SyntaxError: unterminated string literal (detected at line 2) (3188795424.py, line 2)

In [2]:
# to read documentation of any fuction => shift Tab
# by default anything that infput fuctiontake is in STRING datatype
input("Enter your Name: ")

Enter your Name:  Qasim

'Qasim'

In [8]:
yearofexp = int(input("your year of experience"))
yourcurrentsalary = input("your current sallary")

your year of experience 5
your current sallary 50000

In [13]:
yearOfExp = int(input("your year of experience"))
if(yearOfExp > 5):
    salary = int(input("what is your current salary"))
    print("your bonus will be ", 0.05 * salary)
else:
    print("you are not eligble for bonus")

your year of experience 4

you are not eligble for bonus

In [3]:
yourage = int(input("Enter your age"))
if(yourage > 17):
    print("your are eligible for voting")
else:
    print("your are not eligible for voting")

Enter your age 5

your are not eligible for voting

In [ ]:
number = int(input("Enter Number"))
if(number / 5

In [8]:
number = int(input("Enter any number that is divisible by 5: "))

if(number % 5 == 0):
    print("Hello")
else:
    print("Bye")

Enter any number that is divisible by 5:  65

Hello

In [17]:
marks = int(input("Enter your marks"))

if marks >= 80 and marks <100:
    print("Grade A")
elif marks >= 60 and marks < 80:
    print("Grade B")
elif marks >= 50 and marks < 60:
    print("Grade C")
elif marks >= 45 and marks < 50:
    print("Grade D")
elif marks >= 25 and marks < 45:
    print("Grade E")
elif marks >= 25 and marks < 0:
    print("Grade F")
else:
    print("Invalid input")

Enter your marks -1

Invalid input

In [21]:
nationality = input("Enter your nationality: ")

if nationality.lower() == "pakistani":
    age = int(input("enter your age: "))
    if age >= 18:
        print("you're eligible...")
    else:
        print("you're not eligible...")
else:
    print("should be Pakistani to cast VOTE")

Enter your nationality:  Pakistani
enter your age:  4

you're not eligible...

In [25]:
gender = input("enter your gender")
age = int(input("enter your age"))
marital_status = input("enter your marital status")

if gender.lower() == "F":
    print("you will only work in urban areas")
elif gender.lower() == "M" and age >=20 and age <= 40:
    print("you will only work in rural areas")
elif gender.lower() == "M" and age > 40:
    print("you will only work in urban areas")
else:
    print("Invalid input")

enter your gender m
enter your age 21
enter your marital status mar

Invalid input

In [33]:
age = int(input("enter your age"))
gender = input("enter your gender")


if gender.lower() == "F":
    print("you will only work in urban areas")
else:
    if age >= 40 and age <=60:
        print("yor can work only in urban areas")
    elif age >20 and age <40:
        print("you can work anywhere")
    else:
        print("you may be above 19 or you shoud get retired")

enter your age 21
enter your gender F

you can work anywhere

In [ ]:
# comment can be added for documentation

In [34]:
'''
this is alos comment
but it is a multiple comment
'''

'\nthis is alos comment\nbut it is a multiple comment\n'

## List

In [35]:
# How to store same collection of multiple values
city_0 = "Karachi"
city_1 = "Lahore"
# .............. 
# this approach is not recomended

In [38]:
# list always starts []
# values can be seperated by ,
cities = ["Karachi", "Lahore", "Islamabad", "Hyderabad", "Rawalpindi"]

In [39]:
cities

['Karachi', 'Lahore', 'Islamabad', 'Hyderabad', 'Rawalpindi']

In [40]:
#     -5            -4       -3            -2        -1
# ["Karachi", "Lahore", "Islamabad", "Hyderabad", "Rawalpindi"]
#     0         1          2             3            4

In [42]:
cities[1]

'Lahore'

In [43]:
cities[-3]

'Islamabad'

In [44]:
cities[2:]

['Islamabad', 'Hyderabad', 'Rawalpindi']

In [46]:
# slicing
# starting valuse is always been included
# end values is always been not included
cities[2:4]

['Islamabad', 'Hyderabad']

## List: Adding and changing elements

In [47]:
cities[0] = "Atlantica"

In [48]:
cities

['Atlantica', 'Lahore', 'Islamabad', 'Hyderabad', 'Rawalpindi']

In [50]:
city_5 = "Hunza"

In [51]:
cities = cities + [city_5]

In [52]:
cities

['Atlantica', 'Lahore', 'Islamabad', 'Hyderabad', 'Rawalpindi', 'Hunza']

In [54]:
cities.append("Sukkur")

In [55]:
cities

['Atlantica',
 'Lahore',
 'Islamabad',
 'Hyderabad',
 'Rawalpindi',
 'Hunza',
 'Sukkur']

### List: Deleting removing elements

In [56]:
cities

['Atlantica',
 'Lahore',
 'Islamabad',
 'Hyderabad',
 'Rawalpindi',
 'Hunza',
 'Sukkur']

In [57]:
cities.remove("Hunza")

In [58]:
cities

['Atlantica', 'Lahore', 'Islamabad', 'Hyderabad', 'Rawalpindi', 'Sukkur']

In [59]:
del cities[-1]

In [60]:
cities

['Atlantica', 'Lahore', 'Islamabad', 'Hyderabad', 'Rawalpindi']

### List: poppoing elements

In [62]:
cities.pop()

'Rawalpindi'

In [63]:
cities

['Atlantica', 'Lahore', 'Islamabad', 'Hyderabad']

In [64]:
tasks = ["email Frank", "call sarah", "meet with zach"]

In [65]:
task_done = []